{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
Logout Users
{% endblock %}

{% block contenido %}
<div class="swiper-wrapper text-center">
    <div class="swiper-slide" data-slide-bg="{% static 'images/escritos.jpg' %}">
        <div class="container">
          <h1>Logout Complete</h1>
          <p>Has salido de la sesión correctamente.</p>
          </div>
      </div>
    </div>
    <div class="swiper-pagination__module">
        <p>Volver al Inicio <a href="{% url 'inicio' %}"> Aquí </a></p>
          </div>
          <div class="swiper-pagination__module">
            <p>Iniciar sesión nuevamente <a href="{% url 'login' %}"> Aquí </a></p>
        </div>

{% endblock %}
